.link {
  outline: 2px solid transparent;
  height: 40px;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  border-radius: 8px;
  width: 138px;
  height: 52px;
  top: -4px;
  left: -4px;
  outline: 2px solid transparent;
  transition: outline-color var(--transition-200);
}

.link:focus-visible::after {
  outline-color: var(--base-white);
}

.logo {
  width: 126px;
  height: 40px;
}
