header {
    width: 100%;
    background-color: var(--base-dark);
    box-shadow: 2px 2px 4px 0px #00000033;

}

.wrapper {
    padding: 10px 24px 10px 14px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.wrapperBtn {
    display: flex;
    gap: 24px;
    margin: 2px 0 2px 0;
}