header {
  width: 100%;
  background-color: var(--base-dark);
  box-shadow: 2px 2px 4px 0px #00000033;
}

.wrapper {
  padding: 12px 24px 12px 16px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.wrapperBtn {
  display: flex;
  gap: 24px;
}

.btnText {
  opacity: 0;
}

.icon {
  opacity: 0;
}

.iconLoading {
  position: absolute;
  top: 17%;
  left: 38%;
  transform: translate(-50%, -50%);
  animation: rotateSvg 1s linear infinite;
}

.iconLoading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 118px;
  height: 40px;
  background-color: var(--primary-300);
}

@keyframes rotateSvg {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
