.sideBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--neutral-light-100);
    border-left: 1px solid var(--neutral-light-300);
    overflow-y: auto;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    transition: background-color var(--transition-200), border-color var(--transition-200)
}

.sideBarDark {
    background-color: var(--neutral-dark-100);
    border-color: var(--neutral-dark-300);
}