.wrapper {
  position: relative;
  border-radius: 8px;
  background-color: var(--base-800);
  padding: 4px;

  box-shadow: var(--shadow-on-header-default);
}

.wrapper::after {
  content: "";
  position: absolute;
  border: 2px solid transparent;
  outline: 2px solid transparent;
  top: -2px;
  left: -2px;
  border-radius: 8px;
  width: 76px;
  height: 40px;
  z-index: -1;
  transition:
    outline-color var(--transition-200),
    border-color var(--transition-200);
}

.wrapper:has(.switch:focus-visible)::after {
  outline-color: var(--base-white);
  border-color: var(--base-900);
  z-index: 1;
}

.switch {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 76px;
  height: 40px;
  z-index: 2;
}

.wrapperIcon {
  display: flex;
  gap: 4px;
}

.iconLight,
.iconDark {
  padding: 4px;
  display: block;
  width: 32px;
  height: 32px;
  color: var(--base-600);
  border-radius: 4px;
  transition:
    background-color var(--transition-200),
    color var(--transition-200),
    box-shadow;
}

.iconLight {
  background-color: var(--primary-400);
  color: var(--neutral-0);
  box-shadow: var(--shadow-on-header-default);
}

.switch:hover + .wrapperIcon .iconLight--light {
  background-color: var(--neutral-0);
  color: var(--neutral-900);
}

.iconLight--dark {
  background-color: transparent;
  color: var(--base-600);
  box-shadow: none;
}

.switch + .wrapperIcon .iconDark--dark {
  background-color: var(--primary-400);
  color: var(--base-white);
  box-shadow: var(--shadow-on-header-default);
}

.switch:hover + .wrapperIcon .iconDark--dark {
  background-color: var(--base-white);
  color: var(--base-dark);
}

.switch:focus-visible + .wrapperIcon .iconLight--light,
.switch:focus-visible + .wrapperIcon .iconDark--dark {
  background-color: var(--base-white);
  color: var(--base-dark);
}
