:root {
  --neutral-0: #ffffff; /* Основной фон */
  --neutral-100: #fbfbfb; /* Фон боковых лайаутов */
  --neutral-200: #f3f3f3; /* Фон вторичных кнопок, ховер списков */
  --neutral-300: #ececec; /* Ховер вторичных кнопок */
  --neutral-400: #bfbfbf; /* Бордеры */
  --neutral-500: #8c8c8c; /* Иконки */
  --neutral-600: #6c6c6c; /* Второстепенный текст, ховер бордера */
  --neutral-700: #393939;
  --neutral-800: #1c1c1c; /* Основной текст */
  --neutral-900: #141414; /* Инверсия текста, бордер фокуса */

  --primary-0: #fff4f4; /* Заливка приоритета 03 */
  --primary-100: #ffcece;
  --primary-200: #fca9a9;
  --primary-300: #f25959; /* Pressed контролов  */
  --primary-400: #d51010; /* Основной цвет  */
  --primary-500: #a60c0c; /* Ховер */
  --primary-600: #760909;
  --primary-400-500: linear-gradient(
    var(--primary-400),
    var(--primary-500)
  ); /* Цвет лого */

  --base-dark: #000000; /* Фон хедера */
  --base-white: #ffffff; /* Цвет текста хедера*/
  --base-800: #262626;
  --base-600: #6c6c6c;
  --base-900: #141414;

  --shadow-base-default: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
  --shadow-base-hover: 2px 8px 12px 0px rgba(0, 0, 0, 0.25);
  --shadow-on-header-default: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  --shadow-on-header-hover: 2px 8px 12px 0px rgba(0, 0, 0, 0.8);

  --transition-200: 0.2s ease;
}

.dark {
  --neutral-0: #141414; /* Основной фон */
  --neutral-100: #1c1c1c; /* Фон боковых лайаутов */
  --neutral-300: #333333; /* Ховер вторичных кнопок */
  --neutral-600: #bfbfbf; /* Второстепенный текст, ховер бордера */
  --neutral-700: #ececec;
  --neutral-800: #fbfbfb; /* Основной текст */
  --neutral-900: #ffffff; /* Инверсия текста, бордер фокуса */

  --shadow-base-default: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  --shadow-base-hover: 2px 8px 12px 0px rgba(0, 0, 0, 0.8);
}
